{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
    <style type="text/css">
        div#changelist-filter {
            width: 300px;
            border-bottom: solid #dddddd 1px;
        }
        .change-list .filtered {
            background: white none !important;
        }
        ul#report-filter li label {
            display: block;
        }
    </style>
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; <a href="../../">{% blocktrans with "Reports" as section %}{{ section }}{% endblocktrans %}</a> &rsaquo; {{ report_name|capfirst }}</div>{% endblock %}{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module filtered" id="changelist">
        {% block result_list %}
            {% if results %}
            <table cellspacing="0">
                <thead>
                    <tr>
                    {% for header in result_headers %}
                        <th>
                            <a href="{{ header.link }}">{{ header.verbose_name|capfirst }}</a>
                        </th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            {% for field in result %}
                                <td{% if field.is_value %} style="text-align: right;"{% endif %}>
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        {% endblock %}
        {% block filters %}
            {% if filter_form %}
                <div id="changelist-filter">
                    <h2>{% trans 'Options' %}</h2>
                    <form method="get" action=".">
                        <h3>{% trans 'Group by' %}</h3>
                        <ul>
                            <li>{{ group_select }}</li>
                        </ul>
                        <h3>{% trans 'Filter' %}</h3>
                        <ul id="report-filter">
                            {{ filter_form }}
                        </ul>
                        <input type="submit" value="{% trans 'Apply' %}" style="margin: 20px;"/>
                    </form>
                </div>
            {% endif %}
        {% endblock %}
    </div>
</div>
{% endblock %}

